/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.game-container {
    margin: 20px auto;
    width: 340px;
    background-color: #2d2d2d;
    border: 2px solid #00ff99;
    border-radius: 15px;
    padding: 15px 10px;
    text-align: center;
    box-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
    background-image: url(./img/village.jpg);
    position: relative;
}

/* Заголовок игры */
.game-title {
    font-size: 16px;
    color: #00ff99;
    margin-bottom: 15px;
    text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99;
}

/* Стили для статистики */
.stats p {
    font-size: 14px;
    color: #f4f4f4;
    margin: 8px 0;
}

.stats {
    position: relative;
}

.main-char {
    position: absolute;
    width: 65px;
    height: 70px;
    left: 10%;
    top: 32%;
    border: solid 2px #00ffea;
}


.dragon,
.chimera,
.ouroboros {
    display: none;
    position: absolute;
    width: 65px;
    height: 70px;
    right: 10%;
    top: 32%;
    border: solid 2px #00ffea;
}


.stats span {
    color: #00ff99;
}

.location span {
    color: #12fdff;
}


.inventory {
    display: flex;
    padding: 10px;
    gap: 3px;
    justify-content: center;
    cursor: pointer;
    min-height: 90px; /* Уменьшенная высота */
}

.item {
    text-align: center;
    display: flex;
    max-width: 100%;
    width: 50px; /* Уменьшенная ширина */
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    position: relative;
}

.inventory.empty::before {
    content: "Инвентарь пуст";
    color: #bbb;
    font-size: 14px;
}

.item img {
    width: 25px;
    height: 25px;
}

.item:hover {
    transform: scale(1.05);
}

.item span {
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

.item:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

.count {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.item.highlight {
    box-shadow: 0 0 10px #00ffea,
        0 0 10px #00ffea;
}




/* Бары здоровья и уровня */
.bar-container {
    background-color: #444;
    border-radius: 10px;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 5px #000;
    position: relative;
    /* Нужно для абсолютного позиционирования текста */
}

.bar-fill {
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
}

.health-bar {
    width: 160px;
}

.health-bar .bar-fill {
    background-color: #ff4d4d;
}

.level-bar .bar-fill {
    background-color: #7170eb;
}

.bar-container .bar-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* Цвет текста */
    font-weight: bold;
    font-size: 12px;
    /* Размер текста */
    pointer-events: none;
    /* Игнорировать клики по тексту */
}


.enemy-health-bar {
    position: absolute;
    top: 21%;
    right: 0%;
    width: 150px;
    background-color: #444;
    border-radius: 17px;
    height: 19px;
    overflow: hidden;
    box-shadow: inset 0 0 5px #000;
    display: none;
}

.enemy-health-bar .bar-fill {
    height: 100%;
    background-color: #ff4d4d;
    width: 100%; /* Полоска начинается с полного здоровья */
    transition: width 0.5s ease;
    border-radius: 10px;
}

.enemy-health-bar .bar-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* Цвет текста */
    font-weight: bold;
    font-size: 12px;
    /* Размер текста */
    pointer-events: none;
    /* Игнорировать клики по тексту */
}


/* Кнопки действий */
.actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.action-button {
    max-width: 100%;
    width: 110px;
    background-color: #333;
    color: #f4f4f4;
    border: 2px solid #00ff99;
    padding: 8px 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #00ff99;
}

.action-button:hover {
    background-color: #00ff99;
    color: #333;
    box-shadow: 0 0 15px #00ff99, 0 0 25px #00ff99;
}

.attack {
    border-color: #ff4d4d;
    box-shadow: 0 0 5px #ff4d4d;
}

.attack:hover {
    background-color: #ff4d4d;
    color: #2d2d2d;
    box-shadow: 0 0 15px #ff4d4d, 0 0 25px #ff4d4d;
}

.defend {
    border-color: #ffd700;
    box-shadow: 0 0 5px #ffd700;
}

.defend:hover {
    background-color: #ffd700;
    color: #333;
    box-shadow: 0 0 15px #ffd700, 0 0 25px #ffd700;
}

.use-item {
    border-color: #00ffff;
    box-shadow: 0 0 5px #00fff2;
}

.use-item:hover {
    background-color: #00ffea;
    color: #333;
    box-shadow: 0 0 15px #00d5ff, 0 0 25px #00ffee;
}


/* Кнопки локаций */
.location {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.location p {
    font-size: 12px;
    margin-bottom: 5px;
}

.location-button {
    background-color: #2d2d2d;
    color: #00ff99;
    border: 2px solid #00ff99;
    padding: 8px 5px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.location-button:hover {
    background-color: #00ff99;
    color: #2d2d2d;
    box-shadow: 0 0 15px #00ff99, 0 0 25px #00ff99;
}

/* Лог событий */
.log {
    background-color: #222;
    color: #bbb;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    height: 140px;
    overflow-y: auto;
    font-size: 12px;
    box-shadow: inset 0 0 10px #000;
    text-align: start;
}


/* Стили для модального окна перезагрузка */
.game-over-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #2d2d2d;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.restart-button {
    background-color: #00ff99;
    color: #2d2d2d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restart-button:hover {
    background-color: #2d2d2d;
    color: #00ff99;
    border: 2px solid #00ff99;
}

/* Стили для кнопки сброса игры */
.reset-button {
    position: absolute;
    top: 11px;
    right: 10px;
    background-color: #1e6549;
    color: white;
    padding: 2px;
    border-radius: 5px;
    border: solid 2px #00ffea;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1001;
    width: 50px;
}

.reset-button:hover {
    background-color: #ff2222;
}






/* аудио */
#music-controls {
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 5px;
}

#music-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

#music-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

#music-toggle:hover #music-icon {
    transform: scale(1.1);
}

/* Медиа-запросы для различных размеров экрана */
@media screen and (min-width: 420px) {
    .game-container {
        width: 380px;
    }
    
    .action-button {
        width: 120px;
        font-size: 13px;
    }
}

@media screen and (max-width: 360px) {
    .game-container {
        width: 320px;
        padding: 10px 8px;
    }
    
    .action-button {
        width: 100px;
        font-size: 11px;
    }
    
    .main-char,
    .dragon,
    .chimera,
    .ouroboros {
        width: 60px;
        height: 65px;
    }
}